.button {
    border: outset 0.5rem #79bb64;
    margin: 5px;
    padding: 6px;
    background-color: #79bb64;
}

.buttonContainer {
    padding: 30px;

    border: outset 0.5rem #79bb64;
    list-style-type: none;

}